---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="WorldMarket by Stoako"
    description="WorldMarket by Stoako is a platform for trading. Trading, made easy."
    links={[
        { rel: "stylesheet", href: "/styles/acct.css" },
        { rel: "stylesheet", href: "/styles/search.css" },
    ]}
    dimpath={["acct", "view listings"]}
>
    <div id="settings-wrapper" class="content border-vertical">
        <div id="loading">
            <span id="spinner">
                <i
                    class="bx bx-refresh"
                    style="color:#ffffff; font-size: 10rem; animation: spin-cc 3s cubic-bezier(.17,.67,.52,1.52) infinite"
                ></i>
            </span>
        </div>
        <div class="flex-col" style="gap: .5rem; height: 100%;">
            <span
                class="flex-row"
                style="justify-content: space-around; margin-top: .25rem; padding-bottom: .5rem; border-bottom: 1px solid var(--c-border);"
            >
                <a href="/acct">View Account</a>
                <a href="/acct/edit">Edit Account</a>
                <a href="/logout" style="color: rgb(255, 61, 0);">Log out</a>
            </span>
            <div id="settings" class="flex-row">
                <div>
                    <h1>Hello, <span class="js-username-here"></span>!</h1>
                    <table id="user-info-table">
                        <tbody>
                            <tr>
                                <th>UUID</th>
                                <td class="js-uuid-here"></td>
                            </tr>
                            <tr>
                                <th>Affiliation</th>
                                <td class="js-nation-affiliation-here"></td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td class="js-location-here"></td>
                            </tr>
                            <tr>
                                <th>Items Sold</th>
                                <td class="js-items-sold-here"></td>
                            </tr>
                            <tr>
                                <th>Joined WM</th>
                                <td class="js-joindate-here"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img id="js-head-img" alt="MC Head" />
            </div>
        </div>
    </div>
    <div style="position: relative; height: 100%;">
        <!-- <div id="loading" class="loading-main-bg">
            <span id="spinner" class="flex-col">
                <i class='bx bx-refresh'
                    style='color:#ffffff; font-size: 10rem; animation: spin-cc 3s cubic-bezier(.17,.67,.52,1.52) infinite'></i>
            </span>
        </div> -->
        <span class="flex-row" id="search-actions">
            <details class="blue-text flex-col">
                <summary>Sort</summary>
                <!-- <small id="js-sort-by-price-cheapest">by price (cheapest)</small>
                <small id="js-sort-by-price-expensive">by price (expensive)</small> -->
                <small id="js-sort-by-creation-latest"
                    >by creation (latest)</small
                >
                <small id="js-sort-by-creation-oldest"
                    >by creation (oldest)</small
                >
                <small id="js-sort-by-quantity-most">by quantity (most)</small>
                <small id="js-sort-by-quantity-least">by quantity (least)</small
                >
            </details>
            <details class="flex-col">
                <summary class="blue-text self">Filter</summary>
                <small
                    ><input type="checkbox" id="js-filter-show-only-active" /> Show
                    only active</small
                >
                <small
                    ><input type="checkbox" id="js-filter-show-only-inactive" />
                    Show only inactive</small
                >
                <span class="flex-row" style="justify-content: end;">
                    <small id="js-apply-filter" class="blue-text self"
                        >Apply</small
                    >
                    <small id="js-clear-filter" class="blue-text self"
                        >Clear</small
                    >
                </span>
            </details>
        </span>
        <table id="js-search-results-table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Manage</th>
                    <th>Title</th>
                    <th>Qty.</th>
                    <th>Area &amp; Category</th>
                    <th>Posted Date</th>
                    <th>UUID</th>
                </tr>
            </thead>
            <tbody id="search-results">
                <!-- <tr>
                    <td>
                        Active
                    </td>
                    <td>
                        <a href="#">View</a>,
                        <a href="#">Delete</a>,
                        <a href="#">Edit</a>
                    </td>
                    <td class="ce-title">Title Here</td>
                    <td class="ce-quantity">3</td>
                    <td class="flex-col">
                        <p class="ce-location no-before">Stoako</p>
                        <p class="ce-category">Category</p>
                    </td>
                    <td class="ce-creation no-before">
                        MM/DD/YYY
                    </td>
                    <td class="ce-uuid-shortened">b6...0e</td>
                </tr> -->
            </tbody>
        </table>
        <span id="page-controls" class="flex-row">
            <i id="js-page-back" class="bx bx-chevron-left"></i>
            <p id="js-page-number">1</p>
            <i id="js-page-forward" class="bx bx-chevron-right"></i>
        </span>
    </div>
</Layout>


<script is:inline src="/js/result.js"></script>
<script is:inline src="/js/helpers.js"></script>
<script is:inline src="/js/pages/acct.js"></script>
<script is:inline src="/js/populate/userInfo.js"></script>
<script is:inline src="/js/cookies.js"></script>
<script is:inline src="/js/database/user.js"></script>
<script is:inline src="/js/database/catalogEntry.js"></script>