#dimpath {
    opacity: .73;
}

#settings-wrapper {
    position: relative;
    height: 100%;
    padding: .5rem 1rem;
}
#settings > h1 {
    margin: 0;
}

#settings {
    flex-grow: 1;
}

#js-head-img {
    border-radius: 10px;
}

th {
    text-align: right;
    padding-right: 5px;
}

td i {
    padding-left: 2.5px;
    cursor: pointer;
}
td i:hover {
    opacity: .75;
}

#loading {
    position: absolute;
    background-color: #1f2122;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#loading #spinner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}